.red-background {
  background-color: red;
}

.blue-background {
  background-color: blue;
}

.purple-background {
  background-color: purple;
}

#awake {
  display: none;
}

#sleepy {
  display:block;
}

.clickable, #clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, #clickable:hover {
  text-decoration: underline;
}
